nav {
  height: 50px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
ul li {
  list-style: none;
  text-transform: capitalize;
  transition: transform 0.2s;
}
ul li:hover {
  transform: scale(1.2);
}
ul li a {
  text-decoration: none;
  color: black;
}
